{% extends 'base_layout.html' %} {% block content %}
<div class="container py-4">
  <h4 class="mb-4">Officer : {% if Staff == 0 %}All{% else %}{{loanee.first.Loan_Collector.Officer_Name}}{% endif %}</h4>
  <div class="table-responsive">
    <table class="table table-bordered table-striped align-middle">
      <thead class="table-success">
        <tr>
          <th>S.No</th>
          <th>L. ID</th>
          <th>A/c No.</th>
          <th>Name</th>
          <th>Phn no</th>
          <th>Inst. Amnt.</th>
          <th colspan="2">Mon</th>
          <th colspan="2">Tue</th>
          <th colspan="2">Wed</th>
          <th colspan="2">Thu</th>
          <th colspan="2">Fri</th>
          <th colspan="2">Sat</th>
          <th colspan="2">Sun</th>
        </tr>
      </thead>
      <tbody>
        {% for c in loanee %}
        <tr>
          <td></td>
          <td>{{c.pk}}</td>
          <td>{{c.AccNo}}</td>
          <td>
            <a href="{% url 'microfinance:clientdetail' pk=c.Account.Client.pk %}">{{c.Account.Client.Name}}</a>
          </td>
          <td>{{c.Account.Client.Phone_no1}}</td>
          <td>{{c.installments_set.first.Installment_Due}}</td>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td colspan="2"></td>
        </tr>
        {% endfor %}
        <tr>
          <th colspan="20">Total Amnt To Be Collected : {{Total_Amount_To_Be_Collected|floatformat:1}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
