{%extends 'base_layout.html'%} {%block content%}
{% load keyvalue %}

<style>
    div {
        background-color: transparent;
    }
    
    table {
        border-collapse: collapse;
        margin-top: 0;
        top: 0;
        width: 100%;
        text-align: center;
    }
    
    .phnno,
    .loanamnt {
        text-align: center;
    }
    
    thead {
        text-align: center;
        text-transform: capitalize;
    }
    
    th,
    td {
        text-align: center !important;
        padding: 8px;
        text-align: justify;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2
    }
    
    th {
        background-color: #4CAF50;
        color: white;
    }
    
    #table-wrapper {
        position: relative;
    }
    
    #table-scroll {
        height: 10px;
        overflow: auto;
        margin-top: 0;
    }
    
    #table-wrapper {
        position: relative;
        top: 0;
    }
    
    #table-scroll {
        height: 150px;
        overflow: auto;
        margin-top: 0;
    }
    
    input[type=submit] {
        width: 20%;
    }
    
    body {
        counter-reset: Serial;
        /* Set the Serial counter to 0 */
    }
    
    table {
        border-collapse: separate;
    }
    
    tr td:first-child:before {
        counter-increment: Serial;
        /* Increment the Serial counter */
        content: counter(Serial);
        /* Display the counter */
    }
</style>
<div class="loanees">

    <h3 style="font-family: Arial, Helvetica, sans-serif;">
        <Br>Total Amnt To Be Collected: <b style="font-weight: 600; font-size:22px">{{amnttobecollected|floatformat:1}}</b>
        <br> Total Collection on Date : {{Date}} : <b style="font-weight: 600; font-size:22px">{{amntcollected|floatformat:1}}</b>
        <Br>Total File Charge Collection: <b style="font-weight: 600; font-size:22px">{{filecollected|floatformat:1}}</b>
        <Br>Total Penalty Collection: <b style="font-weight: 600; font-size:22px">{{penaltycollected|floatformat:1}}</b>




    </h3>
    <div id="table-wrapper">
        <table id="table_row_total" style="margin-bottom: 20px;">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>ID</th>
                    <th>Name </th>
                    <th>Amount Paid</th>
                    <th>Amnt To Be Collec.</th>
                    <th>Loan Officer</th>

                </tr>
            </thead>
            <tbody>
                {%for loanee in Loan%}
                <tr>
                    <td></td>
                    <td>{{loanee.pk}}</td>
                    <td>
                        <a href="{% url 'microfinance:clientdetail' pk=loanee.Account.Client.pk%}">{{loanee.Account.Client.Name}} </a>
                    </td>
                    <td>
                        {{amnt_collected|keyvalue:loanee.pk|keyvalue:"payments__Amount_Paid__sum"}}</td>
                    <td>{{amnt_to_be_collected|keyvalue:loanee.pk|keyvalue:"installments__Installment_Due__sum"}}</td>
                    <td>{{loanee.Loan_Collector.Officer_Name}}</td>



                </tr>

                {% endfor %}
           
        <table id="table_row_total" style="margin-bottom: 20px;">     <th colspan="5">Penalty</th> 
                {%for loanee in Loan2%}
            <tr> <tr> <th>S.No</th>
                <th>ID</th>
                <th>Name </th>
                <th>Penalty Paid</th>
                <th>Penalty To Be Collected</th>
                <th>Loan Officer</th></tr>
                <td></td>
                <td>{{loanee.pk}}</td>
                <td>
                    <a href="{% url 'microfinance:clientdetail' pk=loanee.Account.Client.pk%}">{{loanee.Account.Client.Name}} </a>
                </td>
                <td>{{penalty_collected|keyvalue:loanee.pk|keyvalue:"payments__Amount_Paid__sum"}}</td>
                <td>{{penalty_to_be_collected|keyvalue:loanee.pk}}</td>
                <td>{{loanee.Loan_Collector.Officer_Name}}</td>
            </tr>
            {% endfor %}
        </table>

            <table id="table_row_total" style="margin-bottom: 10px;"> <tr><th colspan="5">File Charge</th></tr>
                <tr> <th>S.No</th>
                    <th>ID</th>
                    <th>Name </th>
                    <th>File Charge Paid</th>
                   
                    <th>Loan Officer</th></tr>
            {%for loanee in Loan3%}
            <tr>
                <td></td>
                <td>{{loanee.pk}}</td>
                <td>
                    <a href="{% url 'microfinance:clientdetail' pk=loanee.Account.Client.pk%}">{{loanee.Account.Client.Name}} </a>
                </td>
                <td>{{file_charge|keyvalue:loanee.pk}}</td>
                <td>{{loanee.Loan_Collector.Officer_Name}}</td>



            </tr>

            {% endfor %}
            </table>

        </tbody>
        </table>

    </div>
</div>
{% endblock %}
